html {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}
#test {
  position:absolute;
  left: 300px;
  width: 100px;
}
#base {
  height: 400px;
  position: absolute;
  top: 20px;
}

.lever-switch {
  width: 75px;
  height: 150px;
  display: block;
  left: 170px;
  top:2px;
  position: absolute;
  transition: transform 1s ease;
  transform-origin: center center; /* TOURNE AUTOUR DE TOI PUTAIN */
}

.lever-switch img {
  width: 75px;
  height: 150px;
  object-fit: contain;
}

.lever-switch.on {
  transform: rotate(90deg);
}

.interlock {
  position: relative; /* changed from absolute to relative */
  width: 75px;
  height: 75px;
  top: 16px;
}

.interlock img {
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  z-index: 1;
  left: 28px;
  top: 16px;
}

.interlock img:nth-child(2) {
  z-index: 0; 
}

#ioff {
  transition: opacity 0.25s ease;
}
#ioff.on {
  opacity: 0;
}
#ioff.off {
  opacity: 1;
}

.open-buttons img {
  position: absolute;
  width: 75px;
  height: 75px;
}
#open1 {
  left: 35px;
  top: 140px;
}
#open2 {
  left: 170px;
  top: 140px;
}