#time {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: blue;
  padding: 5px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  border-radius:5%;
}

#date {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: blue;
  padding: 5px;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
  border-radius: 5%;
}

.seconds {
  font-size: 20px;
  color: yellow;
}

html {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
  background-color: #1D1F22;
  font-family: Parisine, Arial, Helvetica, sans-serif;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  draggable: false;
}
#test {
  position:absolute;
  left: 300px;
  width: 100px;
}
#base {
  height: 400px;
  position: absolute;
  top: 20px;
}

.lever-switch {
  width: 75px;
  height: 150px;
  display: block;
  left: 170px;
  top:2px;
  position: absolute;
  transition: transform 1s ease;
  transform-origin: center center; /* TOURNE AUTOUR DE TOI PUTAIN */
}

.lever-switch img {
  width: 75px;
  height: 150px;
  object-fit: contain;
}

.lever-switch.on {
  transform: rotate(90deg);
}

.interlock {
  position: relative; /* changed from absolute to relative */
  width: 75px;
  height: 75px;
  top: 16px;
}

.interlock img {
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  z-index: 1;
  left: 28px;
  top: 16px;
}

.interlock img:nth-child(2) {
  z-index: 0; 
}

#ioff {
  transition: opacity 0.25s ease;
}
#ioff.on {
  opacity: 0;
}
#ioff.off {
  opacity: 1;
}

.open-buttons img {
  position: absolute;
  width: 75px;
  height: 75px;
}
#open1 {
  left: 35px;
  top: 140px;
}
#open2 {
  left: 170px;
  top: 140px;
}

.buzzer {
  position: relative; /* changed from absolute to relative */
  width: 75px;
  height: 75px;
  top: 136px;
}

.buzzer img {
  position: absolute;
  width: 100%; 
  height: 100%; 
  object-fit: contain;
  z-index: 1;
  left: 28px;
  top: 16px;
}

.buzzer img:nth-child(2){
  z-index: 0;
}

#boff {
  transition: opacity 0.25s ease;
}

#boff.on {
  opacity: 0;
}

.close-button {
  position: relative; /* changed from absolute to relative */
  width: 75px;
  height: 75px;
  top: 75px;
  left: 162px;
}

.close-button img {
  position: absolute;
  width: 100%; 
  height: 100%; 
}

  
.key-switch{
  position: absolute;
  left: 35px;
  top: 330px;
  width: 75px;
  height: 75px;
  transition: transform 1s ease;
  transform-origin: center center;
}
.key-switch.on{
  transform: rotate(45deg);
}
#key {
  width: 100%;
  height: 100%;
}
.train{
  position: absolute;
  right: 10px;
  top: 110px;
  background-color: mediumvioletred;
  width: 250px;
  color: white;
  text-align: center;
}

#train {
  position: absolute;
  height: 30%;
  left: 0%;
  bottom: 1%;
  
}

.porte {
  position: absolute;
  height: 110px;
}

#p1 {
  bottom: 43px;
  left: 660px;
}

#p2 {
  bottom: 43px;
  left: 460px;
}

#p3 {
  bottom: 43px;
  left: 416px;
}

#p4 {
  bottom: 43px;
  left: 295px;
}

#p5 {
  bottom: 43px;
  left: 251px;
}